<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666121559400-9jfkhd4clgbhree9nqgr91r6bnld0un6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666121559400-9jfkhd4clgbhree9nqgr91r6bnld0un6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>666121559400-72b1d7i28ju8um9n9kk71dg2qken1t2a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIDEpH5_U0Ddkris6Gt54dSDpzmtx8wjI</string>
	<key>GCM_SENDER_ID</key>
	<string>666121559400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cihanurtekin.yazar</string>
	<key>PROJECT_ID</key>
	<string>yazar-d3654</string>
	<key>STORAGE_BUCKET</key>
	<string>yazar-d3654.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666121559400:ios:180e6195a826f6bfcc0add</string>
</dict>
</plist>